<footer class="page-footer hide-on-med-and-down light-blue">
    <div class="container">
        <div class="row">
            <div class="col l2">
                <h5 class="white-text">Affliliates</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.scottishswimming.com/" target="_blank">Scottish Swimming</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.stream-scene.com/" target="_blank">Stream Scene</a></li>
                </ul>
            </div>
            <div class="col l3">
                <h5 class="white-text">&nbsp;</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.wrightsport.co.uk/" target="_blank">Wright Sport</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.sheppardswimschool.co.uk/" target="_blank">Sheppard Swim School</a></li>
                </ul>
            </div>
            <div class="col l3">
                <h5 class="white-text">&nbsp;</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.sasaeastdistrict.org.uk/" target="_blank">SASA East District</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://http//www.sasamidlanddistrict.co.uk/" target="_blank">SASA Midland District</a></li>
                </ul>
            </div><div class="col l2">
                <h5 class="white-text">&nbsp;</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.sasanorth.org.uk/" target="_blank">SASA North District</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.scotswimwest.co.uk/" target="_blank">SASA West District</a></li>
                </ul>
            </div>
            <div class="col l2">
                <h5 class="white-text">&nbsp;</h5>
                <ul class="right">
                    <li><a class="grey-text text-lighten-3" href="http://www.swimming.org/" target="_blank">The Asa</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.fina.org/" target="_blank">Fina</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; SwimScotland 2017-2018<a class="grey-text text-lighten-3 right" href="/club-websites">Club Websites</a>
        </div>
    </div>
</footer>
