<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">Meets</a></li>
            <li><a href="#">Records</a></li>
            <li><a href="#">Rankings</a></li>
        </ul>
    </div>
</nav>
