<nav class="light-blue">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">SwimScotland&nbsp;<small>{{{title}}}</small></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="waves-effect waves-light">Home</a></li>
            <li><a href="/meets" class="waves-effect waves-light">Meets</a></li>
            <li><a href="/records" class="waves-effect waves-light">Records</a></li>
            <li><a href="https://www.swimmingresults.org/" target="_blank" class="waves-effect waves-light">Rankings</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <div class="light-blue lighten-2">
            <li>&nbsp;</li>
            <li><h4 class="white-text center">SwimScotland</h4></li>
            <li>&nbsp;</li>
          </div>
          <li><a href="/" class="light-blue-text text-lighten-2"><i class="material-icons light-blue-text text-lighten-2">home</i>Home</a></li>
          <li><a href="/meets" class="light-blue-text text-lighten-2"><i class="material-icons light-blue-text text-lighten-2">info</i>Meets</a></li>
          <li><a href="/records" class="light-blue-text text-lighten-2"><i class="material-icons light-blue-text text-lighten-2">bookmark</i>Records</a></li>
          <li><a href="https://www.swimmingresults.org/" class="light-blue-text text-lighten-2" target="_blank"><i class="material-icons light-blue-text text-lighten-2">trending_up</i>Rankings</a></li>
          <div class="sb-footer">
            <div class="blue-grey lighten-5">
              <li><a href="/affiliates" class="blue-grey-text text-darken-3"><i class="material-icons blue-grey-text text-darken-3">people</i>Affliliates</a></li>
              <li><a href="/club-websites" class="blue-grey-text text-darken-3"><i class="material-icons blue-grey-text text-darken-3">pool</i>Club Webistes</a></li>
            </div>
            <div class="blue-grey lighten-4">
              <li><a class="white-text">&copy; SwimScotland 2017-2018</a></li>
            </div>
          </div>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
