<table class="bordered highlight centered">
    <thead>
        <tr>
            <th>Meet Name</th>
            <th>Meet Date (Start)</th>
            <th>Closing Date</th>
            <!-- colour code and sort -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>dd/mm/yyyy</td>
            <td>dd/mm/yyyy</td>
        </tr>
    </tbody>
</table>
