<div class="yr-cont">
  <a href="/results#2017" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2017 meet results">2017</a>&nbsp;
  <a href="/results#2016" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2016 meet results">2016</a>&nbsp;
  <a href="/results#2015" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2015 meet results">2015</a>&nbsp;
  <a href="/results#2014" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2014 meet results">2014</a>&nbsp;
  <a href="/results#2013" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2013 meet results">2013</a>&nbsp;
  <a href="/results#2012" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2012 meet results">2012</a>&nbsp;
  <a href="/results#2011" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2011 meet results">2011</a>&nbsp;
  <a href="/results#2010" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2010 meet results">2010</a>&nbsp;
  <a href="/results#2009" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2009 meet results">2009</a>&nbsp;
  <a href="/results#2008" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2008 meet results">2008</a>&nbsp;
  <a href="/results#2007" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2007 meet results">2007</a>&nbsp;
  <a href="/results#2006" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2006 meet results">2006</a>&nbsp;
  <a href="/results#2005" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2005 meet results">2005</a>&nbsp;
  <a href="/results#2004" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2004 meet results">2004</a>&nbsp;
  <a href="/results#2003" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2003 meet results">2003</a>&nbsp;
  <a href="/results#2002" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2002 meet results">2002</a>&nbsp;
  <a href="/results#2001" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2001 meet results">2001</a>&nbsp;
  <a href="/results#2000" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 2000 meet results">2000</a>&nbsp;
  <a href="/results#1999" class="white-text results-yr btn light-blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to see 1999 meet results">1999</a>&nbsp;
</div>
