<div class="card">
    <div class="card-content">
        <h5 class="grey-text text-darken-2"><span id="results">RESULTS:</span>&nbsp;{{>resultsSidescroller}}</h5>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active light-blue-text tooltipped" href="#tab1" data-position="bottom" data-delay="50" data-tooltip="Click to see latest uploaded meet results">Latest Results</a></li>
            <li class="tab"><a class="light-blue-text tooltipped" href="#tab2" data-position="bottom" data-delay="50" data-tooltip="Click to see latest uploaded meet programs">Meet Programs</a></li>
            <li class="tab"><a class="light-blue-text tooltipped" href="#tab3" data-position="bottom" data-delay="50" data-tooltip="Click to see latest uploaded meet info">Latest Meet Info</a></li>
        </ul>
    </div>
    <div class="card-content blue-grey lighten-5 tab-cont">
        <div id="tab1" class="tab-wrap">{{>latestResults}}</div>
        <div id="tab2" class="tab-wrap">{{>meetPrograms}}</div>
        <div id="tab3" class="tab-wrap">{{>latestMeetInfo}}</div>
    </div>
</div>
